/* Estilos para el contenedor principal */
main {
    padding: 20px;

    /* Estilos para las secciones dentro del contenedor principal */
    & section {
        margin: 20px;
        display: flex;
        gap: 40px;
        height: 400px;
        border: 1px solid black;
        border-radius: 24px;
        padding: 20px;

        /* Estilos para los divs dentro de las secciones */
        & div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            text-align: center;
            font-size: 20px;
        }

        /* Estilos para los elementos span dentro de las secciones */
        & span {
            font-family: 'Playwrite CU', cursive;
        }

        /* Estilos para las imágenes dentro de las secciones */
        & img {
            border-radius: 24px;
        }
    }
}