
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

/* Reseteo de estilos y configuración global */
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif, system-ui;
    box-sizing: border-box;
    text-decoration: none;
}

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    background: transparent; /* Fondo transparente para la pista */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); /* Color semi-transparente para el "pulgar" */
    border-radius: 10px; /* Bordes redondeados */
    border: 2px solid transparent; /* Borde transparente para efecto de espacio */
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Color más oscuro al pasar el mouse */
}

/* Asegura que siempre haya una barra de desplazamiento vertical */
html {
    overflow-y: scroll;
}

/* Estructura principal del cuerpo */
body {
    min-height: 100dvh; /* Altura mínima del 100% del viewport */
    display: grid;
    grid-template-areas:
        "top "
        "main"
        "bottom ";

    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
}

/* Estilo global para enlaces */
a {
    color: black;
}

/* Estilos para la sección superior */
.top {

    grid-area: top;

    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    & img {
        width: 50px; /* Tamaño de la imagen */
    }

    & div {
        display: flex;
        gap: 30px;

        & a {
            font-weight: 600;
            padding: 10px;
            border-radius: 24px;
            transition: .10s;

            &:hover {
                background-color: purple;
                color: white;
                scale: 110%; /* Efecto de escala al pasar el mouse */
            }
        }
    }

}

/* Estilo para el contenido principal */
main {
    grid-area: main;
}

/* Estilos para la sección inferior */
.bottom {
    grid-area: bottom;

    background-color: #121212;
    color: #E0E0E0;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
}